body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(113, 29, 113);
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: white;
}

.header h1 {
  font-size: 1.75rem;
}

.indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
  margin: 2rem 1rem;
}

.indicator h4 {
  margin-bottom: 0.5rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1rem;
}

.box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  margin: 0 1rem;
  border-radius: 0.5rem;
}

.earnings {
  background-color: rgb(0, 94, 0);
}

.expenses {
  background-color: rgb(100, 0, 0);
}

.list {
  color: rgb(222, 222, 222);
  margin: 1rem;
}
